// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.card-color {
    background: black;
}

.header-color {
    background: rgb(50,50,50) !important;
}

.nav-color {
    background: rgb(65,65,65) !important;
}
